{% extends "layout.html" %}

{% block content %}
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/javascript" 
    src="{{ url_for('static', filename='javascript/showForms.js') }}">
</script>
<script>
    const XSP = "{{Path.XSP}}";
    const YSP = "{{Path.YSP}}";
    const PathArr = [XSP, YSP];
    var newWidth, newHeight;
    var aspectRatio;
    window.onload = function(){

        const canvases = document.querySelectorAll('canvas');
        canvases.forEach((canvas, index) => {
            const ctx = canvas.getContext('2d');
            const img = new Image();
            img.src = PathArr[index];
            img.onload = function(){
                aspectRatio = parseFloat(img.height) / img.width;

                newWidth = parseInt(window.innerWidth * 0.4);
                newHeight = parseInt(newWidth*aspectRatio);

                canvas.width = newWidth;
                canvas.height = newHeight;
                ctx.drawImage(img, 0, 0, newWidth, newHeight);
            }
        });
    }

</script>

<div class="container mt-4">
    <h2>Select approximation method of positions</h2>
    
    <canvas id="canvas"></canvas>
    <canvas id="canvas"></canvas><br>
    <form action="/result" method="POST" enctype="multipart/form-data">
        <br>
        Select approximation method of positions and click "DECISION" button.
        <br>
        <p>X: 
        <select name = x_appr_method id="selectX" onchange="showFormX()">
            <option value="CF">Constant Function</option>
            <option value="LF">Linear Function</option>
            <option value="QF">Quadratic Function</option>
            <option value="CosF">Cosine Function</option>
            <option value="SinF">Sine Function</option>
            <option value="ELF">Exponential and Linear Function</option>
        </select>
        <div id="mFormX"></div>
        </p>
        <p>Y: 
        <select name = y_appr_method id="selectY" onchange="showFormY()">
            <option value="CF">Constant Function</option>
            <option value="LF">Linear Function</option>
            <option value="QF">Quadratic Function</option>
            <option value="CosF">Cosine Function</option>
            <option value="SinF">Sine Function</option>
            <option value="ELF">Exponential and Linear Function</option>
        </select>
        <div id="mFormY"></div>
        </p><br>
        <div>
            <input type="submit" value="SUBMIT">
        </div>
    </form>
    <p><a href="{{url_for('home')}}">BUCK TO HOME</a></p>
</div>
{% endblock %}